# Для локальной разработки через nginx (порт 80):
# VITE_API_URL=

# Для разработки БЕЗ nginx (напрямую к gateway):
VITE_API_URL=http://localhost:8080

# Для production (через nginx):
# VITE_API_URL=https://yourdomain.com