# =========================
# Spring profile
# =========================
SPRING_PROFILES_ACTIVE=dev or prod

# =========================
# App URLs
# =========================
FRONTEND_ORIGIN=http://localhost:5173
OAUTH_SUCCESS_REDIRECT_URI=http://localhost:5173/oauth-success
OAUTH_FAILURE_REDIRECT_URI=http://localhost:5173/login?oauthError=true

# =========================
# JWT
# Must be Base64 encoded 256-bit secret
# =========================
JWT_ISSUER=toDoApplication
JWT_SECRET=PUT_BASE64_256_BIT_SECRET_HERE
JWT_ACCESS_TOKEN_TTL_MINUTES=5
JWT_REFRESH_TOKEN_TTL_DAYS=7

# =========================
# Cookie
# =========================
COOKIE_SECURE=false
COOKIE_SAME_SITE=Lax

# =========================
# Database
# =========================
DATASOURCE_URL=jdbc:postgresql://localhost:5432/postgres
DATASOURCE_USERNAME=postgres
DATASOURCE_PASSWORD=postgres
DATASOURCE_DRIVER=org.postgresql.Driver

# =========================
# Redis
# =========================
REDIS_HOST=localhost
REDIS_PORT=6379
RATE_LIMIT_ENABLED=true

# =========================
# Mailpit
# =========================
MAIL_FROM=no-reply@todo.local
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=false
MAIL_STARTTLS_ENABLE=false
MAIL_STARTTLS_REQUIRED=false

# =========================
# OAuth2 Google
# =========================
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# =========================
# RSA_keys
# =========================
RSA_PRIVATE_KEY_BASE64=
RSA_PUBLIC_KEY_BASE64=